<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="com.schmeedy.relaxng.eclipse.ui.internal.contentassist.RngEditorConfiguration"
            target="com.schmeedy.relaxng.eclipse.core.relaxngDocument">
      </sourceViewerConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.schmeedy.relaxng.eclipse.ui.internal.decorator.RngDocumentDecorator"
            id="com.schmeedy.relaxng.eclipse.ui.internal.decorators.RngDocumentDecorator"
            label="RELAX NG Document Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.wst.xml.ui.preferences.xml"
            class="com.schmeedy.relaxng.eclipse.ui.internal.preferences.RngSchemaBindingPreferencePage"
            id="com.schmeedy.relaxng.eclipse.ui.internal.preferences.SchemaBindingPreferencePage"
            name="RELAX NG Bindings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc"
               label="Associate RELAX NG Schema"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                     <with
	                       variable="activeMenuEditorInput">
                      <and>
                         <reference
                               definitionId="org.eclipse.wst.xml.ui.xmlContentType.definition">
                         </reference>
                         <not>
                            <reference
                                  definitionId="com.schmeedy.relaxng.eclipse.core.relaxngDocument.definition">
                            </reference>
                         </not>
                      </and>
	                </with>
            </visibleWhen>
            <parameter
                  name="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc.changeType"
                  value="new">
            </parameter>
         </command>
         <command
               commandId="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc"
               label="Change RELAX NG Schema"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                     <with
	                       variable="activeMenuEditorInput">
                      <and>
                         <reference
                               definitionId="org.eclipse.wst.xml.ui.xmlContentType.definition">
                         </reference>
                         <reference
                               definitionId="com.schmeedy.relaxng.eclipse.core.relaxngDocument.definition">
                         </reference>                   
                      </and>
	                </with>
            </visibleWhen>
            <parameter
                  name="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc.changeType"
                  value="change">
            </parameter>
         </command>
         <command
               commandId="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc"
               label="Remove RELAX NG Schema"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                     <with
	                       variable="activeMenuEditorInput">
                      <and>
                         <reference
                               definitionId="org.eclipse.wst.xml.ui.xmlContentType.definition">
                         </reference>
                         <reference
                               definitionId="com.schmeedy.relaxng.eclipse.core.relaxngDocument.definition">
                         </reference>                   
                      </and>
	                </with>
            </visibleWhen>
            <parameter
                  name="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc.changeType"
                  value="remove">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            id="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc"
            name="Change RELAX NG Schema Association">
         <commandParameter
               id="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc.changeType"
               name="Type of Association Change"
               optional="true"
               values="com.schmeedy.relaxng.eclipse.ui.internal.commands.SchemaAssociationCommandParamValues">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.schmeedy.relaxng.eclipse.ui.internal.commands.ChangeSchemaAssociationCommandHandler"
            commandId="com.schmeedy.relaxng.eclipse.ui.changeSchemaAssoc">
      </handler>
   </extension>
   
   <!--
   <extension
         id="v2validator"
         name="V2 RNG Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="cz.vse.xschm34.eclipse.relaxng.ui.ValidatorV2"
            manual="true">
         <include>
            <rules>
               <contentType
                     exactMatch="true"
                     id="cz.vse.xschm34.eclipse.relaxng.ui.relaxngDocument">
               </contentType>
            </rules>
         </include>
      </validator>
   </extension> -->
</plugin>
